<template>
    <div>
        <navbar-component></navbar-component>
        <hero-component></hero-component>
        <strategy-component></strategy-component>
        <marketing-component></marketing-component>
        <projects-component></projects-component>
        <about-component></about-component>
        <testimony-component></testimony-component>
        <blog-component></blog-component>
        <contact-component></contact-component>
        <f-component></f-component>
    </div>
</template>

<script>
    import navbar_component from '../Nav/Nav.vue'
    import hero_component from '../home/hero.vue'
    import strategy_component from '../home/strategy.vue'
    import marketing_component from '../home/marketing.vue'
    import projects_component from '../home/projects.vue'
    import about_component from '../home/about.vue'
    import testimony_component from '../home/testimony.vue'
    import blog_component from '../home/blog.vue'
    import contact_component from '../home/contact.vue'
    import f_component from '../footer/Index.vue'

    export default {
        name: 'home',
        data () {
            return {
                loading: true,
            }
        },
        components: {
            'navbar-component': navbar_component,
            'hero-component': hero_component,
            'strategy-component': strategy_component,
            'marketing-component': marketing_component,
            'projects-component': projects_component,
            'about-component': about_component,
            'testimony-component': testimony_component,
            'blog-component': blog_component,
            'contact-component': contact_component,
            'f-component': f_component
            
        },
        mounted() {
        }
    }
</script>

<style scoped>
</style>
