<template>
    <section class="ftco-section-2 img" v-bind:style="{ backgroundImage: 'url(' + image3 + ')' }">
        <div class="container">
            <div class="row d-md-flex justify-content-end">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Market Research</h2>
                                <p>Even the all-powerful Pointing has no control about the blind.</p>
                            </a>
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Financial Services</h2>
                                <p>Even the all-powerful Pointing has no control about the blind.</p>
                            </a>
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Online Marketing</h2>
                                <p>Even the all-powerful Pointing has no control about the blind.</p>
                            </a>
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>24/7 Help &amp; Support</h2>
                                <p>Even the all-powerful Pointing has no control about the blind.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    
    export default {
        name: 'marketing',
        data () {
            return {
                image3: this.$store.state.ENDPOINT_DIR + 'images/bg_3.jpg?v=1',
            }
        }
    }
</script>

<style scoped>
</style>
