<template>
    <section class="ftco-section ftco-project bg-light" id="projects-section">
        <div class="container px-md-5">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Accomplishments</span>
                    <h2 class="mb-4">Our Projects</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 testimonial">
                    <div class="carousel-project owl-carousel">
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image1" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image2" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image3" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image4" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image5" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project">
                                <div class="img">
                                    <img :src="image6" class="img-fluid" alt="Colorlib Template">
                                    <div class="text px-4">
                                        <h3><a href="#">Work Name</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    
    export default {
        name: 'projects',
        data () {
            return {
                image1: this.$store.state.ENDPOINT_DIR + 'images/project-1.jpg?v=1',
                image2: this.$store.state.ENDPOINT_DIR + 'images/project-2.jpg?v=1',
                image3: this.$store.state.ENDPOINT_DIR + 'images/project-3.jpg?v=1',
                image4: this.$store.state.ENDPOINT_DIR + 'images/project-4.jpg?v=1',
                image5: this.$store.state.ENDPOINT_DIR + 'images/project-5.jpg?v=1',
                image6: this.$store.state.ENDPOINT_DIR + 'images/project-6.jpg?v=1',

            }
        }
    }
</script>

<style scoped>
</style>
