<template>
    <div>
        <footer-component></footer-component>
    </div>
</template>

<script>
    import footer_component from './footer.vue'

    export default {
        name: 'footerindex',
        data () {
            return {
                msg: '',
            }
        },
        components: {
            'footer-component': footer_component
            
        }
    }
</script>

<style scoped>
</style>
