<template>
    <div>
        <!--<navbar-component></navbar-component>-->
        <single-component></single-component>
        <f-component></f-component>
    </div>
</template>

<script>
    import navbar_component from '../Nav/Nav.vue'
    import single_component from './single.vue'
    import f_component from '../footer/Index.vue'
    export default {
        name: 'blogIndex',
        data () {
            return {
                msg: '',
            }
        },
        components: {
            'navbar-component': navbar_component,
            'single-component': single_component,
            'f-component': f_component
        }
    }
</script>

<style scoped>
</style>
