<template>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" :href="root">S<span>Sofin</span></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><!--<a href="/single" class="nav-link"><span>Single</span></a>--></li>

                    <li class="nav-item"><a href="#home-section" class="nav-link"><span>{{ $t('nav.home') }}</span></a></li>
                    <li class="nav-item"><a href="#services-section" class="nav-link"><span>{{ $t('nav.services') }}</span></a></li>
                    <li class="nav-item"><a href="#projects-section" class="nav-link"><span>{{ $t('nav.projects') }}</span></a></li>
                    <li class="nav-item"><a href="#about-section" class="nav-link"><span>{{ $t('nav.about') }}</span></a></li>
                    <li class="nav-item"><a href="#testimony-section" class="nav-link"><span>{{ $t('nav.testimony') }}</span></a></li>
                    <li class="nav-item"><a href="#blog-section" class="nav-link"><span>{{ $t('nav.blog') }}</span></a></li>
                    <li class="nav-item"><a href="#contact-section" class="nav-link"><span>{{ $t('nav.contact') }}</span></a></li>

                    <li class="nav-item">
                        <a v-if="$i18n.locale === 'th'" class="nav-link">
                            <img class="imgflag" :src="locale_falg" v-on:click="changelanguage('th',$i18n.locale)" />
                        </a>
                        <a v-if="$i18n.locale === 'en'" class="nav-link">
                            <img class="imgflag" :src="locale_falgen" v-on:click="changelanguage('en',$i18n.locale)" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    
    export default {
        name: 'navbar',
        data () {
            return {
                langs: ['th', 'en'],
                root: this.$store.state.ENDPOINT_DIR
            }
        },
        computed: {
            locale_falg() {
                return this.$store.state.locale_falg
            },
            locale_falgen() {
                return this.$store.state.locale_falgen
            },
            locale() {
                return this.$store.state.locale
            }
        },
        methods: {
            
            changelanguage: function (local18, local18_t) {
                
                this.$i18n.locale = local18 == "th" ? "en": "th"
                this.$store.dispatch('setLocal', this.$i18n.locale)
            }
        }
    }
</script>

<style scoped>
    .imgflag {
        width: 20px;
    }
</style>
